
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
}
/*we used flexbox to position chat messages to the bottom of chat window
but flexbox dont allow overflow scroll out of the box
*/
.chat-window {
  width: 400px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;

  overflow-y: auto;
}
.box .inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: flex-end;
  flex-basis: 100%;
  height: 100%;
  align-content: flex-end;

  /* min-height: min-content; handles overflow scroll for flex
  https://stackoverflow.com/questions/21515042/scrolling-a-flexbox-with-overflowing-content
  */
  min-height: min-content;
}
.box .inner .message {
  /* background-color: #eee; */
  border: 1px solid #ccc;
  padding: 2px 4px;
  margin: 2px;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  text-align: left;
}
.box .reference {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
}

input {
  font-size: 1rem;
  color: inherit;
  border-radius: 3px;
  width: 75%;
  padding: 10px;
  box-shadow: none;
  background: none;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
}

.chat-composer form {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chat-composer button {
  margin-right: 0;
}

button {
  background-color: #282c34;
  color: #ccc;
  font-weight: bold;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 15px;
}

.clickable-btn:hover {
  background-color: white;
  color: #282c34;
  border: 1px solid #ccc;
  cursor: pointer;
}

.eval-box {
  margin-top: 10px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.eval-box * {
  width: 48%;
}

.back-btn {
  margin-top: 75px;
}

.correct-btn {
  background-color: #59d79a;
  border: 1px solid #59d79a;
  color: white;
}

.incorrect-btn {
  background-color: #f7504b;
  border: 1px solid #f7504b;
  color: white;
}

.toast {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  align-items: center;
}

.disabled-btn {
  background-color: transparent;
  color: #ccc;
  border: 1px solid #ccc;
  opacity: 0.5;
}

.disabled-input {
  background-color: transparent;
  color: #ccc;
  border: 1px solid #ccc;
  opacity: 0.5;
}

.disabled-btn:hover {
  background-color: transparent;
  color: #ccc;
  cursor: not-allowed;
}

table {
  width: 500px;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin: 25px;
}

th, td {
  /* font-weight: normal; */
  font-size: 1.2rem;
  border: 1px solid #ccc;
  padding: 25px;
}